<header class="header">
    <nav class="nav bd_grid">
      <div>
        <a href="#" class="nav_logo">CodeWithVetri</a>
      </div>

      <div class="nav_menu" id="nav_menu">
        <ul class="nav_list">
          <li class="nav_items">
            <a href="#home" class="nav_link active">Home</a>
          </li>
          <li class="nav_items">
            <a href="#about" class="nav_link active">About</a>
          </li>
          <li class="nav_items">
            <a href="#skills" class="nav_link active">Skills</a>
          </li>
          <li class="nav_items">
            <a href="#work" class="nav_link active">Work</a>
          </li>
          <li class="nav_items">
            <a href="#contact" class="nav_link active">Contact</a>
          </li>
        </ul>
      </div>

      <div class="nav_toggle" id="nav_toggle">
        <i class="bx bx-menu-alt-right"></i>
      </div>
    </nav>
  </header>
  