<p>footer works!</p>
<footer class="footer">
    <p class="footer_title" data-aos="fade-down">Vetrivel Ravi</p>

    <div class="footer_socials">
      <a
        href="#"
        class="footer_icon"
        data-aos="fade-down"
        data-aos-delay="250"
        ><i class="bx bxl-facebook-circle"></i
      ></a>
      <a
        href="#"
        class="footer_icon"
        data-aos="fade-down"
        data-aos-delay="350"
        ><i class="bx bxl-instagram"></i
      ></a>
      <a
        href="#"
        class="footer_icon"
        data-aos="fade-down"
        data-aos-delay="450"
        ><i class="bx bxl-twitter"></i
      ></a>
      <a
        href="#"
        class="footer_icon"
        data-aos="fade-down"
        data-aos-delay="550"
        ><i class="bx bxl-github"></i
      ></a>
    </div>

    <p data-aos="fade-down" data-aos-delay="650">
      &#169; 2021 copyright all right reserved
    </p>
  </footer>