<footer class="footer">
    <p class="footer_title" data-aos="fade-down">Seifeddine Mechergui</p>

    <div class="footer_socials">
      
      <a href="https://github.com/SeifeddineMechergui"class="footer_icon"data-aos="fade-down"  data-aos-delay="350"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/seifeddine-mechergui-0b2863218/"class="footer_icon"data-aos="fade-down"  data-aos-delay="350"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="https://www.facebook.com/saif.mch.5"class="footer_icon"data-aos="fade-down"  data-aos-delay="350"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com/seifeddinemechergui/"class="footer_icon"data-aos="fade-down"  data-aos-delay="350"><i class="fa-brands fa-instagram"></i></a>

      
    </div>

    <p data-aos="fade-down" data-aos-delay="650">
      &#169; 2023 copyright all right reserved
    </p>
  </footer>