<section class="about section" id="about">
    <h2 class="section-title" data-aos="fade-down">About</h2>

    <div class="about_container bd_grid">
      <div class="about_img" data-aos="fade-down" data-aos-delay="50">
         <img src="../../assets/img/seifeddine.jfif" alt="" srcset="">
      </div>

      <div>
        <h2
          class="about_subtitle"
          data-aos="fade-down"
          data-aos-delay="350"
        >
          I'm Vetrivel Ravi
        </h2>
        <p class="about_text" data-aos="fade-down" data-aos-delay="450">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
          mollitia expedita molestiae consectetur sint doloremque cupiditate
          ducimus ullam qui? Quo illo repellat incidunt dolor aliquam
          impedit consectetur, aspernatur neque repellendus.
        </p>
      </div>
    </div>
  </section>