<section class="about section" id="about">
    <h2 class="section-title" data-aos="fade-down">About</h2>

    <div class="about_container bd_grid">
      <div class="about_img" data-aos="fade-down" data-aos-delay="50">
         <img src="../../assets/img/seifeddine.jfif" alt="" srcset="">
      </div>

      <div>
        <h2
          class="about_subtitle"
          data-aos="fade-down"
          data-aos-delay="350"
        >
          I'm Seifeddine Mechergui
        </h2>
        <p class="about_text" data-aos="fade-down" data-aos-delay="450">
            Hello! I'm Seifeddine, a seasoned full-stack developer with a passion for turning ideas into robust and scalable applications. My expertise spans both front-end and back-end technologies, and I specialize in microservices architecture.
        </p>
      </div>
    </div>
  </section>