
 <section class="contact section" id="contact">
    <h2 class="section-title" data-aos="fade-down">Contact</h2>

    <div class="contact_container bd_grid">
      <form action="#" class="contact_form">
        <input
          type="text"
          placeholder="Name"
          class="control_input"
          data-aos="fade-right"
          data-aos-delay="250"
        />
        <input
          type="mail"
          placeholder="Email"
          class="control_input"
          data-aos="fade-right"
          data-aos-delay="300"
        />
        <textarea
          name=""
          id=""
          cols="0"
          rows="10"
          class="control_input"
          data-aos="fade-right"
          data-aos-delay="400"
        ></textarea>

        <input
          type="button"
          value="Send"
          class="control_button button"
          data-aos="fade-right"
          data-aos-delay="450"
        />
      </form>
    </div>
  </section>