<section class="work section" id="work">
    <h2 class="section-title" data-aos="fade-down">Work</h2>

    <div
      class="work_container bd_grid"
      data-aos="fade-down"
      data-aos-delay="250"
    >
      <div class="work_img">
        <img src="./assets/img/work1.jpg" alt="" />
      </div>

      <div class="work_img">
        <img src="./assets/img/work2.jpg" alt="" />
      </div>

      <div class="work_img">
        <img src="./assets/img/work3.jpg" alt="" />
      </div>

      <div class="work_img">
        <img src="./assets/img/work4.jpg" alt="" />
      </div>

      <div class="work_img">
        <img src="./assets/img/work5.jpg" alt="" />
      </div>

      <div class="work_img">
        <img src="./assets/img/work6.jpg" alt="" />
      </div>
    </div>
  </section>

 
