<section class="work section" id="work">
    <h2 class="section-title" data-aos="fade-down">Work</h2>

    <div
      class="work_container bd_grid"
      data-aos="fade-down"
      data-aos-delay="250"
    >
      <div class="work_img">
        <a href="https://github.com/SeifeddineMechergui/SBSS"><img src="./assets/img/work1.jpg" alt="" /></a>
      </div>

      <div class="work_img">
        <a href="https://github.com/SeifeddineMechergui/RecyclerViewetCardView"><img src="./assets/img/work2.jpg" alt="" /></a>
      </div>

      <div class="work_img">
        <a href="https://github.com/SeifeddineMechergui/BillingService"><img src="./assets/img/work3.jpg" alt="" /></a>
      </div>

      <div class="work_img">
        <a href="https://github.com/SeifeddineMechergui/MEANbook"><img src="./assets/img/work4.jpg" alt="" /></a>
      </div>

      <div class="work_img">
        <a href="https://github.com/SeifeddineMechergui/itdemy/tree/main/AdvanceLoginSystem-master"><img src="./assets/img/work5.jpg" alt="" /></a>
      </div>

      <div class="work_img">
        <a href="https://github.com/SeifeddineMechergui/Student-managment-system-/tree/main/student-management-system-springboot-main"><img src="./assets/img/work6.jpg" alt="" /></a>
      </div>
    </div>
  </section>

 
