<p>home works!</p>
      <!-- HOME SECTION -->
      <section class="home bd_grid" id="home">
        <div class="home_data" data-aos="fade-down">
          <h1 class="home_title">
            Hi, <br />I'm <span class="home_title-color">Seifeddine Mechergui</span
            ><br />Fullstack developer 
          </h1>
          <a routerLink="/contact" class="button"> Contact</a>
        </div>

        <div class="home_social">
          <a href="#" class="home_social-icon" data-aos="fade-down"
            ><i class="bx bxl-facebook-circle"></i
          ></a>
          <a
            href="#"
            class="home_social-icon"
            data-aos="fade-down"
            data-aos-delay="250"
            ><i class="bx bxl-instagram"></i
          ></a>
          <a
            href="#"
            class="home_social-icon"
            data-aos="fade-down"
            data-aos-delay="300"
            ><i class="bx bxl-twitter"></i
          ></a>
          <a
            href="#"
            class="home_social-icon"
            data-aos="fade-down"
            data-aos-delay="350"
            ><i class="bx bxl-github"></i
          ></a>
        </div>

        <div class="home_img" data-aos="fade-down" data-aos-delay="500">
            <img src="../../assets/img/seifeddine1.jpg" alt="" srcset="">

        </div>
      </section>